<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:http="http://www.springframework.org/schema/integration/http"
       xmlns:integration="http://www.springframework.org/schema/integration"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/integration/http
            https://www.springframework.org/schema/integration/http/spring-integration-http.xsd
        http://www.springframework.org/schema/integration
         http://www.springframework.org/schema/integration/spring-integration.xsd">

    <integration:channel id="httpChannel"/>
    <integration:channel id="outboundChannel"/>
    <integration:channel id="replyChannel"/>
    <integration:channel id="replyChannel2"/>
    <integration:channel id="replyChannel3"/>


    <http:outbound-gateway
            request-channel="outboundChannel"
            http-method="GET"
            url="https://api.github.com/users/kalemakk"
            reply-channel="replyChannel"
            expected-response-type="java.lang.String">
<!--        <http:uri-variable name="name" expression="payload" />-->
    </http:outbound-gateway>


    <integration:gateway service-interface="com.example.springintegration.CarGateWay" default-request-channel="outboundChannel"/>

    <http:inbound-gateway
            request-channel="httpChannel"
            path="/"
            supported-methods="GET"

    />

    <integration:service-activator input-channel="httpChannel" ref="messagePrinter" method="print"/>

    <bean class="com.example.springintegration.MessagePrinter" id="messagePrinter"/>


    <integration:service-activator input-channel="replyChannel" ref="messagePrinter2" method="printConsole"/>

    <bean class="com.example.springintegration.MessagePrinter" id="messagePrinter2"/>

</beans>