<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:http="http://www.springframework.org/schema/integration/http"
       xmlns:integration="http://www.springframework.org/schema/integration"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/integration/http
            https://www.springframework.org/schema/integration/http/spring-integration-http.xsd
        http://www.springframework.org/schema/integration
         http://www.springframework.org/schema/integration/spring-integration.xsd">

    <integration:channel id="httpChannel"/>
    <integration:channel id="outboundChannel"/>

    <http:outbound-channel-adapter
            channel="outboundChannel"
            http-method="GET"
            url="http://localhost:8080/"
    />

    <integration:gateway service-interface="com.example.springintegration.CarGateWay" default-request-channel="outboundChannel"/>

    <http:inbound-gateway
            request-channel="httpChannel"
            path="/"
            supported-methods="GET"
    />

    <integration:service-activator input-channel="httpChannel" ref="messagePrinter" method="print"/>

    <bean class="com.example.springintegration.MessagePrinter" id="messagePrinter"/>
</beans>